body{
    margin: 0;
}

#Navbar{
    height: 5%;
    /* border: 1px solid; */
    display: flex;
    background-color: rgb(118, 81, 181);
    position: sticky;
    top: 0px;
    justify-content: space-between;
    padding: 0% 2%;
}

#bagIcon{
    display: flex;
    align-items: center;
}

#collectionCount{
    background-color: red;
    border-radius: 50%;
}

#collectionContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1%;
    padding: 2%;
    /* line-height: 5px; */
}

#collectionContainer>div{
    /* border:1px solid; */
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#collectionContainer img{
    width: 100%;
    border-radius: 20px;
}

#collectionContainer button{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
}
#collectionContainer button:hover{
    cursor: pointer;
    background-color: rgba(255, 145, 0, 0.848);
}

/* for medium screens*/
@media screen and (max-width:700px){
    #collectionContainer{
        grid-template-columns: repeat(3,1fr);
    }
}

/*for small screens*/
@media screen and (max-width:400px){
    #collectionContainer{
        grid-template-columns: repeat(2,1fr);
    }
}