body{
    margin: 0;
}
  #Navbar {
        height: 60px;
        display: flex;
        background-color: rgb(128, 43, 156);
        position: sticky;
        top: 0;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
      }
      
      #ProductContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
      }
      
      #ProductContainer > div {
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
      }
      
      #ProductContainer img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
      
      #ProductContainer button {
        width: 100%;
        border: none;
        border-radius: 0 0 20px 20px;
        height: 30px;
        background-color: rgb(0, 110, 255);
        color: white;
        font-weight: bolder;
      }
      
      #ProductContainer button:hover {
        cursor: pointer;
        background-color: rgb(226, 162, 43);
      }
#bagIcon{
    display: flex;
    align-items: center;
}

#collectionCount{
    background-color: rgb(255, 111, 0);
    border-radius: 50%;
}

/* for medium screens*/
@media screen and (max-width:700px){
    #ProductContainer{
        grid-template-columns: repeat(3,1fr);
    }
}

/*for small screens*/
@media screen and (max-width:400px){
    #ProductContainer{
        grid-template-columns: repeat(2,1fr);
    }
}